#account, #overdraft-checkbox, #error-message-div {
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

#error-message-div {
    color: red;
}

#bills-to-dispense, footer {
    width: 50em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
    margin-bottom: 10em;
}

#withdraw-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

#amount {
    margin-bottom: 1em;
}